body {
    margin: 0;
    padding: 0;
    font-family:Sans-serif;
    line-height: 1.5em;
    background-color: rgb(240, 235, 218);
}
a{
  text-decoration: none;
}
#header nav{
  background-image: linear-gradient(to right,rgba(255,0,0,0.7),rgba(241, 143, 15, 0.7) ,rgb(246, 246, 136,0.5),rgb(106, 235, 106),rgb(102, 102, 236),violet);
  padding:2em 0;
  width: 100;
}
.container{
  text-align: center;
}
.nav-brand{
  font-size: 2em;
  font-weight: bolder;
  color: purple;
}
.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 50px;
    width: 300px;
    height: 200px;
    border-color: violet;
    border-width: 3px;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: -60px;
    height: 40px;
    color: rgb(254, 254, 254);
  }
  


  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  