<!-- include header -->
<%-include('include/_header2')%>
<!-- /include header -->

 <!--Main site-->
 <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <p class="recruiter"> Find All Jobs :)</p>
            <a href="/" class="border-shadow">
                <span class="text-gradient">All Jobs</span>
            </a>
        </div>

        <div class="form-title text-center">
            <h2 class="text-dark">New Job</h2>
            <span class = "text-light">Use the below form to add a new Job</span>
        </div>

        <!--add user form-->
        <%-include('include/form_')%>

    </div>
</main>
<!--/Main site-->

<!-- include footer -->
<%-include('include/_footer2')%>
<!-- /include footer -->