<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job application</title>
    <link rel = "stylesheet" href = "/assets/css/style.css">
</head>
<body>
    <!--Header-->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">Scholarships For LGBTQ Community</a>
                </div>
            </div>
        </nav>
    </header>
    <!--/header-->
    
    <!--Main site-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex-justify-between">
                <a href="/hire-now" class="border-shadow">
                    <span class="text-gradient">Hire Now</span>
                </a>
            </div>

            <!--form handling-->
            <form action="/" method="POST">
                <div class="card">
                    <div class="title">
                        <h1>Accenture</h1>
                    </div>

                    <div class="des">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non aliquid voluptates, et molestias beatae delectus a est excepturi</p>
                    </div>
                    
                    <div class="design roles">Roles Available</div>
                    <div class="des">
                        <p>Lorem ipsum</p>
                    </div>

                    <div class="design openings">No of openings</div>
                    <div class="des">
                        <p>50</p>
                    </div>
                    <button class="apply-btn">Apply</button>
                </div>
            </form>
        </div>
    </main>
    <!--/Main site-->
</body>
</html>