<!--form handling-->
<form id="update_job" method="POST">
    <div class="new_job">
        <div class="form-group">
            <label for="name" class="text-light">Company Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Enter Company Name">
        </div>

        <div class="form-group">
            <label for="des" class="text-light">Description</label>
            <textarea type="text" name="des" value="" placeholder="Enter Description"></textarea>
        </div>

        <div class="form-group">
            <label for="elig" class="text-light">Eligibility</label>
            <input type="text" name="elig" value="" placeholder="Roles like manager,Web Developer...">
        </div>

    
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save Data</button>
        </div>
        
    </div>
   
</form>