<div class="card">
    <div class="title">
        <h1>Accenture</h1>
    </div>

    <div class="des">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non aliquid voluptates, et molestias beatae delectus a est excepturi</p>
    </div>
    
    <div class="design roles">Roles Available</div>
    <div class="des">
        <p>Lorem ipsum</p>
    </div>

    <div class="design openings">No of openings</div>
    <div class="des">
        <p>50</p>
    </div>
    <button class="apply-btn">Apply</button>
</div>